ssid,password,ntpServer,mqttHost,mqttPort,timeToSleep,timeToComm,updatePeriod,cMeasures,airValue,waterValue,battFullAbs,battChargeAbs,battEmptyAbs,battCorrValue,sensorPin,batteryPin,mqttClientId,mqttStatTopic
IoT,***,ntp.iot,mqtt.iot,31883,1800,3,60,5,2760,900,2310,2250,2000,225,35,34,MoistureSensor,stat/MoistureSensor
