#ifndef __LOCAL_CONFIG_H__
#define __LOCAL_CONFIG_H__

////////// WIFI Configuration /////////////
#define ssid        "MY_SSID"
#define password    "MY_WIFI_PASSWORD"

// NTP Pool Server - only needed if updated time is required
#define NTP_POOL    "ntp.pool.org"

////////// MQTT Configuration /////////////


#define MQTT_HOST "mqtt.my.server"
#define MQTT_PORT 1883
#define MQTT_CLIENT_ID "MY_MQTT_CLIENT_ID"

#endif