iot,namespace,
ssid,data,string
password,data,string
ntpServer,data,string
mqttHost,data,string
mqttPort,data,u16
timeToSleep,data,u16
timeToComm,data,u16
updatePeriod,data,u16
valveRelay,namespace,
cMeasures,data,u16
battFullAbs,data,u16
battChargeAbs,data,u16
battEmptyAbs,data,u16
battCorrValue,data,u16
relayPin,data,u16
batteryPin,data,u16
mqttClientId,data,string
mqttStatTopic,data,string
mqttCtrlTopic,data,string