ssid,password,ntpServer,mqttHost,mqttPort,timeToSleep,timeToComm,updatePeriod,cMeasures,battFullAbs,battChargeAbs,battEmptyAbs,battCorrValue,relayPin,batteryPin,mqttClientId,mqttStatTopic,mqttCtrlTopic
IoT,***,ntp.iot,mqtt.iot,31883,1800,3,60,5,2310,2250,2000,225,35,34,ValveRelay,stat/ValveRelay,cmnd/ValveRelay
